:root {
	--default-text-color: #333;
	--active-el-color: #4994d4;
}

* {box-sizing: border-box;}
*:focus, *:visited, *:active, *:hover {outline: 0 !important;}
*::-moz-focus-inner {border: 0;}
html, body, ul, li, a {margin: 0;padding: 0;border: 0;font-family: Arial, Helvetica, sans-serif;}
html, body {background-color: #f0f0f0;}
body {color: var(--default-text-color);}

#container {
	margin: 0 auto;
	background-color: white;
	border-radius: 0 0 10px 10px;
	max-width: 850px;
	min-width: 210px;
}

#header {
	text-align: center;
	font-size: 20px;
	padding: 5px 0;
	color: var(--default-text-color);
	user-select: none;
	text-shadow: 1px 1px #656464;
}

#lang-div {
	text-align: center;
}

#content-area {padding: 20px;}

li {padding: 0 0 10px 0; list-style: none}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

#footer {
	text-align: center;
	font-size: 1em;
	color: #5a5a5a;
	padding: 20px 0 10px 0;
}

#footer a {text-decoration: underline; color: #5a5a5a;}

#footer a:hover {
	color: var(--default-text-color);
}